.button {
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}

.enabled {
  background-color: var(--accent);
  color: aliceblue;
}

.enabled:hover {
  cursor: pointer;
}

.enabled:active {
  background-color: #ee6472;
  position: relative;
  top: 1px;
}

.disabled {
  background-color: rgb(107, 107, 107);
  color: rgb(158, 158, 158);
}

.disabled:hover {
  cursor: not-allowed;
}
