.button {
  padding: 12px 27px 12px 27px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  width: 150px;
}

.submit {
  background-color: var(--secondary);
  color: var(--text-primary-dark);
}

.reset {
  background-color: var(--accent);
  color: aliceblue;
}

.save {
  background-color: var(--text-primary-dark);
  color: aliceblue;
}

.submit:hover,
.reset:hover,
.save:hover {
  cursor: pointer;
}

.submit:active {
  background-color: #daab3d;
  position: relative;
  top: 1px;
}

.reset:active {
  background-color: #e05f6c;
  position: relative;
  top: 1px;
}

.save:active {
  background-color: #242c3a;
  position: relative;
  top: 1px;
}

.disabled {
  background-color: rgb(107, 107, 107);
  color: rgb(158, 158, 158);
}

.disabled:hover {
  cursor: not-allowed;
}
