.qrBlock {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid var(--text-color);
}

.canvas {
  width: 1px;
  height: 1px;
}
