.userInputForm {
  width: 50%;
}

.userInput {
  width: 100%;
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}
