.userInputForm {
  width: 80%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userInput {
  width: 100%;
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.trashbinPic {
  width: 30px;
}

.trashbinPic:hover {
  cursor: pointer;
}
